<h1 class='title'>{{title}}</h1>

<form id='post-habit'>
  <input type='text' name='activity' placeholder='activity' />
  <input type='text' name='category' placeholder='category' />
  <input type='text' name='description' placeholder='description' />
  <input type='number' name='frequency' placeholder='frequency' />
  <input type='submit' value='submit' />
</form>

<div class='habits'>
  {{#each habits}}
    <div class='each-habit'>
      <h2 class='activity'>{{this.activity}}</h2>
      <p class='category'>{{this.category}}</p>
      <p class='description'>{{this.description}}</p>
      <p class='frequency'>Frequency per week: {{this.frequency}}</p>
      <button class='edit-button'>Edit</button>
      <button>Delete</button>
    </div>
  {{/each}}
</div>